.FirstSlide {
  width: 1024px;
  height: 768px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
}

.firstSlideTitle {
  font-size: 30px;
  font-family: GothamPro;
  color: #ffffff;
  margin-left: 84px;
  margin-top: 117px;
}

.firstSlideBox {
  background: url('../../assets/img/slide-1-box.png');
  width: 578px;
  height: 330px;
  background-size: cover;
  align-self: center;
  margin-top: 64px;
}