.Slide1 {
  background: url('../../assets/img/first-block-bg.png');
  background-size: cover;

  & .title {
    font-family: 'GothamPro';
    font-size: 50px;
    color: #0d319c;
    margin-left: 74px;
    margin-top: 145px;
  }
}